__pycache__/
*.pyc
*.so
*.pyd
build
/tmp
/proto/OverField_pb2.py
/proto/cfg_pb2.py
/proto/net_pb2.py
/trash
/resources/assets
/resources/data
/resources/swirlnoisetexture
/player.db
/player.db-journal
/player.db-shm
/player.db-wal
/.vscode
/venv
/star.bat
/dist
/main.spec
/server.spec
/link_pool.json
.idea